<form class="col-md-12">
    <div class="subtitulo">Evoluciones</div>
    <div class="bloque_info col-md-12">
        <div class="col-md-6">Fecha y Hora</div>
        <div class="col-md-6">Consecutivo Evolución</div>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Evolución</button>
    </div>
    <div class="col-md-12">
        <label class="subrayado">Nueva Evolución</label>
        <div class="form-group">
            <label class="titulo" for="exampleInputEmail1">Evolución Nº</label>
            <input type="text" class="form-control" placeholder="Digite código o nombre">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 dos-botones">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
        <button type="button" class="btn btn-default">Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
    </div>
</form>