<div id="headline">
    <div class="hoy">{{fecha}}</div>
    <div class="logout"><a ng-click="cerrarSesion()">Cerrar Sesión</a></div>
</div>
<header>
    <div class="header_imagen">
        <div class="logo">
            <a href=""><img src="../images/logo_neg.png" alt=""></a>
        </div>
        <div class="sede">{{seccion}}</div>
        <div class="saludo">Bienvenid@</div>
        <div class="soc_box">
            <ul class="header_soc_list">
                <li><a href="#" class="icon1"><span class="fa-facebook"></span></a></li>
                <li><a href="#" class="icon2"><span class="fa-twitter"></span></a></li>
                <li><a href="#" class="icon3"><span class="fa-google-plus"></span></a></li>
                <li><a href="#" class="icon4"><span class="fa-linkedin"></span></a></li>
                <li><a href="#" class="icon5"><span class="fa-envelope"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="header_border"></div>
</header>
<div class="col-md-offset-1 col-md-10">
    <div class="bloque_titulo col-md-12">Proactivar I.P.S.</div>
    <div id="container_border">
        <div class="margen_clear"></div>
        <div class="informacion col-md-12" ng-controller="barraUsuarioCTRL">
            <div class="col-md-3">{{barra_usuario.tipo_usuario}}: {{barra_usuario.nombres}}</div>
            <div class="col-md-3">Ocupación: {{barra_usuario.ocupacion}}</div>
            <div class="col-md-3">Edad: {{barra_usuario.edad}} años</div>
            <div class="col-md-3">Hora: 00:00:00</div>
        </div>
        <div class="menu_lateral" ng-controller="menu_lateralCTRL">
            <accordion close-others="true" class="col-md-2">
                <accordion-group ng-repeat="menu in menu_lateral" heading="{{menu.nombre}}">
                <ul>
                    <li ng-repeat="opcion in menu.opciones"><a ng-href="{{opcion.vinculo}}">{{opcion.nombre}}</a></li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-md-10">
        <div ng-if="seccion == 'Datos Personales'" >
            <div class="titulo_seccion">Mis Datos Personales</div>
            <form class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Primer Nombre</label>
                        <input type="text" class="form-control" ng-model="paciente.primer_nombre" readonly>
                    </div>
                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" class="form-control" ng-model="paciente.primer_apellido" readonly>
                    </div>
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" class="form-control" ng-model="paciente.numero_identificacion" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Identificación</label>
                        <input type="text" class="form-control" ng-model="paciente.alias" readonly>
                    </div>
                    <div class="form-group">
                        <label>Departamento Nacimiento</label>
                        <input type="text" class="form-control" ng-model="paciente.dpto" readonly>
                    </div>
                    <div class="form-group">
                        <label>Ciudad Nacimiento</label>
                        <input type="text" class="form-control" ng-model="paciente.municipio" readonly>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input type="text" class="form-control" ng-model="paciente.da_nacimiento" readonly>
                    </div>
                    <div class="form-group">
                        <label>Edad</label>
                        <input type="text" class="form-control" ng-model="paciente.edad" readonly>
                    </div>
                    <div class="form-group">
                        <label>Estado Civil</label>
                        <input type="text" class="form-control" ng-model="paciente.estadocivil" readonly>
                    </div>
                    <div class="form-group">
                        <label>Ocupación</label>
                        <input type="text" class="form-control" ng-model="paciente.ocupacion" readonly>
                    </div>
                    <div class="form-group">
                        <label>Nivel de Escolaridad</label>
                        <input type="text" class="form-control" ng-model="paciente.escolaridad" readonly>
                    </div>
                    <div class="form-group">
                        <label>Género</label>
                        <input type="text" class="form-control" ng-model="paciente.genero" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Segundo Nombre</label>
                        <input type="text" class="form-control" ng-model="paciente.segundo_nombre" readonly>
                    </div>
                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" class="form-control" ng-model="paciente.segundo_apellido" readonly>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control" ng-model="paciente.direccion" readonly>
                    </div>
                    <div class="form-group">
                        <label>Teléfono Fijo</label>
                        <input type="text" class="form-control" ng-model="paciente.telefono" readonly>
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" class="form-control" ng-model="paciente.celular" readonly>
                    </div>
                    <div class="form-group">
                        <label>Acudiente</label>
                        <input type="text" class="form-control" ng-model="paciente.acudiente" readonly>
                    </div>
                    <div class="form-group">
                        <label>Parentesco Acudiente</label>
                        <input type="text" class="form-control" ng-model="paciente.acudiente_parentesco" readonly>
                    </div>
                    <div class="form-group">
                        <label>Celular Acudiente</label>
                        <input type="text" class="form-control" ng-model="paciente.acudiente_celular" readonly>
                    </div>
                    <div class="form-group">
                        <label>EPS / Aseguradora</label>
                        <input type="text" class="form-control" ng-model="paciente.eps" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Vinculación</label>
                        <input type="text" class="form-control" ng-model="paciente.vinculacion" readonly>
                    </div>
                    <div class="form-group">
                        <label>Paquete de Servicios</label>
                        <input type="text" class="form-control" ng-model="paciente.servicio" readonly>
                    </div>
                    <div class="form-group">
                        <label>Estado de Afiliación</label>
                        <input type="text" class="form-control" ng-model="paciente.estadoafiliacion" readonly>
                    </div>
                </div>
            </form>
            <!--div class="col-md-12"><pre>{{formulario | json}}</pre></div-->
            <!--div class="col-md-12"><pre>{{paciente | json}}</pre></div-->
        </div>
        <div ng-if="seccion == 'Mi Contraseña'">
            <div class="titulo_seccion">Mi Contraseña</div>
            <form name="form_clave">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <label>Contraseña Actual</label>
                        <input type="password" class="form-control" name="form_clave_actual" ng-model="formulario.clave_actual" required><!--ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[0-9])/"-->
                        <span class="help-inline" ng-show="form_clave.form_clave_actual.$error.required && form_clave.form_clave_actual.$dirty">Requerido.</span>
                    </div>
                    <div class="form-group">
                        <label>Nueva Contraseña</label>
                        <input type="password" class="form-control" ng-change="validarClaves()" ng-style="estilo_claves" name="form_clave1" ng-model="formulario.clave1" required><!--ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[0-9])/"-->
                        <span class="help-inline" ng-show="form_clave.form_clave1.$error.required && form_clave.form_clave1.$dirty">Requerido.</span>
                        <span class="help-inline" ng-show="form_clave.form_clave1.$error.pattern">Debe tener más de 8 caracteres e incluir (0-9, A-Z, a-z).</span>
                    </div>
                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input type="password" class="form-control" ng-change="validarClaves()" ng-style="estilo_claves" name="form_clave2" ng-model="formulario.clave2" required><!--ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])(?=.*[0-9])/"-->
                        <span class="help-inline" ng-show="form_clave.form_clave2.$error.required && form_clave.form_clave2.$dirty">Requerido</span>
                        <span class="help-inline" ng-show="form_clave.form_clave2.$error.pattern">Debe tener más de 8 caracteres e incluir (0-9, A-Z, a-z).</span>
                        <span class="help-inline" ng-show="formulario.clave1!=formulario.clave2">Tus contraseñas deben coincidir.</span>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 dos-botones">
                        <button type="button" class="btn btn-default" ng-click="guardarClave()" ng-disabled=""><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar Contraseña</button>
                    </div>
                </div>
            </form>
            <div class="col-md-offset-2 col-md-8">
                <div class="alert alert-danger"  ng-if="estado=='ERROR'"><div class="col-sm-1"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></div>{{mensaje}}</div>
                <div class="alert alert-success" ng-if="estado=='OK'"><div class="col-sm-1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>{{mensaje}}</div>
            </div>
            <!--div class="col-md-12">Formulario<pre>{{formulario | json}}</pre></div-->
        </div>
        <div ng-if="seccion == 'historial'">
            <div class="titulo_seccion">Mi Historial de Atención</div>
        </div>
    </div>
    <div class="margen_clear"></div>
</div>
</div>
