<div id="headline">
    <div class="hoy">{{fecha_hoy}}</div>
    <div class="logout"><a ng-click="cerrarSesion()">Cerrar Sesión</a></div>
</div>
<header>
    <div class="header_imagen">
        <div class="logo">
            <a href=""><img src="../images/logo_neg.png" alt=""></a>
        </div>
        <div class="sede">{{seccion}}</div>
        <div class="saludo">Bienvenid@</div>
        <div class="soc_box">
            <ul class="header_soc_list">
                <li><a href="#" class="icon1"><span class="fa-facebook"></span></a></li>
                <li><a href="#" class="icon2"><span class="fa-twitter"></span></a></li>
                <li><a href="#" class="icon3"><span class="fa-google-plus"></span></a></li>
                <li><a href="#" class="icon4"><span class="fa-linkedin"></span></a></li>
                <li><a href="#" class="icon5"><span class="fa-envelope"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="header_border"></div>
</header>
<div class="col-md-offset-1 col-md-10">
    <div class="bloque_titulo col-md-12">Proactivar I.P.S.</div>
    <div id="container_border">
        <div class="margen_clear"></div>
        <div class="informacion col-md-12">
            <div class="col-md-4">Profesional: {{usuario.nombres}}</div>
            <div class="col-md-4">Especialidad: {{usuario.especialidad}}</div>
            <div class="col-md-4">Hora: 00:00:00</div>
        </div>
        <div class="menu_lateral" ng-controller="menu_lateralCTRL">
            <accordion close-others="true" class="col-md-2">
                <accordion-group ng-repeat="menu in menu_lateral" heading="{{menu.nombre}}">
                    <ul>
                        <li ng-repeat="opcion in menu.opciones"><a ng-href="{{opcion.vinculo}}">{{opcion.nombre}}</a></li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-10">
            <div class="titulo_hc">Historia Clínica Psicología</div>
            <tabset justified="true">
                <tab heading="Datos Básicos">  
                    <form class="col-md-12">
                        <div class="subtitulo">Datos Personales</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Primer Nombre</label>
                                <input type="text" class="form-control" ng-model="formulario.primer_nombre" disabled>
                            </div>
                            <div class="form-group">
                                <label>Primer Apellido</label>
                                <input type="text" class="form-control" ng-model="formulario.primer_apellido" disabled>
                            </div>
                            <div class="form-group">
                                <label>Identificación</label>
                                <input type="text" class="form-control" ng-model="formulario.numero_identificacion" disabled>
                            </div>
                            <div class="form-group">
                                <label>Tipo de Identificación</label>
                                <select class="form-control" ng-model="formulario.rd_tipo_identificacion" disabled>
                                    <option ng-repeat="tipo in tipos_id" value='{{tipo.id}}'>{{tipo.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Departamento Nacimiento</label>
                                <select class="form-control" ng-model="formulario.sl_departamento" ng-options='departamento.id as departamento.nombre for departamento in departamentos' disabled>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ciudad Nacimiento</label>
                                <select class="form-control" ng-model="formulario.sl_municipio" ng-options='ciudad.id as ciudad.nombre for ciudad in ciudades' disabled>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-12">
                                <label class="col-md-12">Fecha de Nacimiento</label>
                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" ng-model="formulario.da_nacimiento.anio" disabled>
                                        <option ng-repeat="anio in fecha.anios">{{anio}}</option> 
                                    </select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <select class="form-control" ng-model='formulario.da_nacimiento.mes' ng-options='mes.id as mes.nombre for mes in fecha.meses' disabled>
                                    </select>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <select name="nac_dia" class="form-control" ng-model="formulario.da_nacimiento.dia" disabled>
                                        <option ng-repeat="dia in fecha.dias">{{dia}}</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Edad</label>
                                <input type="text" class="form-control" ng-model="formulario.edad" disabled>
                            </div>
                            <div class="form-group">
                                <label>Estado Civil</label>
                                <select class="form-control" ng-model='formulario.sl_estado_civil' ng-options='estado_civil.id as estado_civil.nombre for estado_civil in estados_civiles' ng-disabled="vista">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ocupación</label>
                                <input type="text" class="form-control" ng-model="formulario.ocupacion" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Nivel de Escolaridad</label>
                                <select class="form-control" ng-model='formulario.sl_escolaridad' ng-options='nivel_escolaridad.id as nivel_escolaridad.nombre for nivel_escolaridad in niveles_escolaridad' ng-disabled="vista">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Género</label>
                                <div class="radio col-md-12">
                                    <label class="col-md-6 centrado" ng-repeat="genero in generos"><span>{{genero.nombre}}</span>
                                        <input type="radio" ng-model="formulario.rd_genero" name="genero" value="{{genero.id}}" disabled/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Segundo Nombre</label>
                                <input type="text" class="form-control" ng-model="formulario.segundo_nombre" disabled>
                            </div>
                            <div class="form-group">
                                <label>Segundo Apellido</label>
                                <input type="text" class="form-control" ng-model="formulario.segundo_apellido" disabled>
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" ng-model="formulario.direccion" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Teléfono Fijo</label>
                                <input type="text" class="form-control" ng-model="formulario.telefono" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="text" class="form-control" ng-model="formulario.celular" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Acudiente</label>
                                <input type="text" class="form-control" ng-model="formulario.acudiente" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Parentesco Acudiente</label>
                                <input type="text" class="form-control" ng-model="formulario.acudiente_parentesco" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>Celular Acudiente</label>
                                <input type="text" class="form-control" ng-model="formulario.acudiente_celular" ng-disabled="vista">
                            </div>
                            <div class="form-group">
                                <label>EPS / Aseguradora</label>
                                <select class="form-control" ng-model="formulario.sl_eps" ng-options='eps.id as eps.nombre for eps in epss' disabled>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tipo de Vinculación</label>
                                <select class="form-control" ng-model="formulario.sl_tipo_vinculacion" ng-options='tipo_vinculacion.id as tipo_vinculacion.nombre for tipo_vinculacion in tipos_vinculacion' disabled>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Paquete de Servicios</label>
                                <select class="form-control" ng-model="formulario.servicios" ng-options='paquete.id as paquete.nombre for paquete in paquetes' disabled>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Estado de Afiliación</label>
                                <select class="form-control" ng-model="formulario.sl_estado_afiliacion" ng-options='afiliacion.id as afiliacion.nombre for afiliacion in afiliaciones' disabled>
                                </select>
                            </div>
                        </div>
                        <div class="subtitulo">Acompañante</div>
                        <div class="form-group col-md-12">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control" ng-model="formulario.acompanante.nombre" ng-disabled="vista">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Celular</label>
                            <input type="text" class="form-control" ng-model="formulario.acompanante.celular" ng-disabled="vista">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Parentesco</label>
                            <input type="text" class="form-control" ng-model="formulario.acompanante.parentesco" ng-disabled="vista">
                        </div>
                        <div class="subtitulo">Motivo de Consulta</div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3" ng-model="formulario.motivo" ng-disabled="vista"></textarea>
                        </div>
                        <div class="subtitulo">Observaciones</div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3" ng-model="formulario.observaciones" ng-disabled="vista"></textarea>
                        </div>
                        <div class="col-md-12"><pre>{{ formulario | json}}</pre></div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 dos-botones">
                            <button type="button" class="btn btn-default" ng-disabled="vista" ng-click="accion('guardar_basicos')"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
                            <!--button type="button" class="btn btn-default" ng-disabled="vista">Continuar <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button-->
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert" type="danger" ng-show="mensaje"><div class="col-sm-1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></div></span>{{mensaje}}</div>
                        </div>
                    </form>
                </tab><!--FIN TAB 1 UNO-->
                <tab heading="Emocionalidad">
                    <span style="color:red;">Estoy en Emocionalidad</span>
                </tab><!--FIN TAB 2 DOS-->
                <tab heading="Diagnósticos">
                    <span style="color:red;">Estoy en Diagnósticos</span>
                </tab><!--FIN TAB 3 TRES-->
                <tab heading="Recomendaciones">
                    <span style="color:red;">Estoy en Recomendaciones</span>
                </tab><!--FIN TAB 4 CUATRO-->
        </div>
    <div class="margen_clear"></div>
    </div><!--FIN container_border-->
</div><!--FIN col-md-offset-1 col-md-10-->
